* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kurale"
}

:root {
    --book-back: rgb(164, 0, 0);
    --book-back2: rgb(83, 0, 0);
}

body {
    background-image: url("bg.png");
   /*  background-color: rgb(244, 244, 244); */
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* MAIN CONTENT */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex: 1 1 auto;
}

.view-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex: 1 1 auto;
}

#view_story_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.story-title {
    font-size: 2em;
}

.story-page {
    background-image: url("bg_page_alt.png");
    width: 450px;
    height: 450px;
    padding: 16px;
}

#story_text {
    width: 100%;
    height: 100%;
    font-size: 1.6em;
    padding: 6px;
    border: 1px solid gray;
    resize: none;
    background-color: transparent;
}

section div {
    padding: 20px;
}

#view_story_container .text-input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: inset -4px 0 2px #212121, -8px 6px 0 var(--book-back), -8px -6px 0 var(--book-back), 8px 6px 0 var(--book-back2),  8px -6px 0 var(--book-back2);
}

#view_story_container .text-input textarea {
    border: 0;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-title {
    font-size: 3em;
    margin-bottom: 40px;
}

.settings-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#summary {
    resize: none;
    outline: none;
    background-color: rgb(255, 255, 255, 0.5);
    height: 300px;
    font-size: 2em;
    padding: 4px;
}

.checkbox_container label {
    user-select: none;
    font-size: 1.2em;
}
.checkbox_container input {
    margin: 6px;
}

#view_story_container .image-output {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: inset 4px 0 2px #212121, 8px 6px 0 var(--book-back), 8px -6px 0 var(--book-back);
}

#view_story_container .image-output img {
    max-width: 100%;
    max-height: 100%;
}

.page-changer {
    color: white;
    font-size: 6em;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

#page_back {
    text-shadow: -3px 3px black;
}

#page_next {
    text-shadow: 3px 3px black;
}

.page-counter {
    flex: 0 1 80px;
    font-size: 2em;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#story_style_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

select {
    width: 100%;
    font-size: 1.1em;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

.disabled {
    pointer-events: none;
}

/* FOOTER */

footer {
    flex: 0 1 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(237, 142, 0);
}

.generating_progress {
    position: absolute;
    background-color: #222;
    opacity: 1;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
    transition: opacity 0.3s;
    user-select: none;
    pointer-events: none;
}

.clickable {
    pointer-events: all;
}

.opacity-zero {
    opacity: 0;
}

footer button {
    padding: 4px;
    margin: 20px;
    font-size: 2em;
}